.aboutPage .mainBox {
  padding-bottom: 0;
}
.aboutPage .mainBox::before {
  display: none;
}
.aboutPage .mainBox::after {
  background: url("../images/in/right_top.png") right top no-repeat;
}
.aboutPage .block01 .content {
  display: flex;
  gap: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  .aboutPage .block01 .content {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
}
.aboutPage .block01 .infoBox {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .aboutPage .block01 .infoBox {
    width: 100%;
  }
}
.aboutPage .block01 .infoBox .top {
  margin-bottom: 5%;
}
.aboutPage .block01 .infoBox .bottom {
  position: relative;
  isolation: isolate;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.aboutPage .block01 .infoBox .bottom::before {
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  right: -50px;
  bottom: -50px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 10%, rgb(190, 185, 175) 100%);
  z-index: -1;
  display: block;
}
@media screen and (max-width: 1000px) {
  .aboutPage .block01 .infoBox .bottom::before {
    width: 100%;
    right: -30px;
    left: -30px;
    bottom: 0;
  }
}
.aboutPage .block01 .pic {
  width: 50%;
  max-width: 754px;
}
@media screen and (max-width: 1000px) {
  .aboutPage .block01 .pic {
    order: -1;
    width: auto;
    margin: 0 -30px 30px;
  }
}
.aboutPage .block02 .content {
  display: flex;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .aboutPage .block02 .content {
    flex-direction: column;
  }
}
.aboutPage .block02 .pic {
  width: 47%;
}
@media screen and (max-width: 767px) {
  .aboutPage .block02 .pic {
    width: 100%;
  }
}
.aboutPage .block02 .pic img {
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutPage .block02 .infoBox {
  width: 53%;
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .aboutPage .block02 .infoBox {
    width: 100%;
  }
}
.aboutPage .block02 .infoBox::before {
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: -200px;
  bottom: 0px;
  background: linear-gradient(to right, rgba(41, 41, 41, 0) 0%, rgb(41, 41, 41) 150px, rgb(41, 41, 41) 400px, rgb(105, 104, 105) 800px);
  z-index: -1;
  display: block;
}
@media screen and (max-width: 767px) {
  .aboutPage .block02 .infoBox::before {
    width: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgb(41, 41, 41) 0%, rgb(105, 104, 105) 800px);
  }
}
.aboutPage .block02 .editor {
  color: #fff;
  max-width: 756px;
}

.aboutPage2 .mainBox::before {
  position: fixed;
  top: 370px;
  z-index: -2;
}
.aboutPage2 .mainBox::after {
  position: fixed;
  top: 370px;
  z-index: -1;
}
.aboutPage2 section {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 10%, 100px);
}
.aboutPage2 .block .title {
  font-size: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  line-height: 1;
  border-bottom: 5px solid #FF7F00;
  margin-bottom: 30px;
}
@media screen and (max-width: 1440px) {
  .aboutPage2 .block .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .aboutPage2 .block .title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .aboutPage2 .block .title {
    font-size: 1.5rem;
  }
}
.aboutPage2 .block .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 767px) {
  .aboutPage2 .block .listBox {
    gap: 15px;
  }
}
.aboutPage2 .block .listBox .item {
  width: calc((100% - 25px * (3 - 1)) / 3);
  padding: 30px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgb(190, 185, 175) 850px);
}
@media screen and (max-width: 1000px) {
  .aboutPage2 .block .listBox .item {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .aboutPage2 .block .listBox .item {
    padding: 15px;
    width: calc((100% - 15px * (2 - 1)) / 2);
  }
}
@media screen and (max-width: 575px) {
  .aboutPage2 .block .listBox .item {
    padding: 15px;
    width: calc((100% - 15px * (1 - 1)) / 1);
  }
}/*# sourceMappingURL=about.css.map */