.banner {
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  isolation: isolate;
}
.banner .bg {
  opacity: 0;
  line-height: 0;
}
.banner .bg img {
  max-width: none;
  width: 100vw;
}
.banner #item {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  overflow: hidden; */
  line-height: 0;
  text-align: center;
}
.banner #item .part {
  flex: 1;
}
.banner #item .part .section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.banner #item .part .section a {
  width: 100%;
  display: block;
  height: 100%;
  line-height: 0;
}
.banner #item .part .section img {
  max-width: none;
  width: 100vw;
  position: absolute;
  left: var(--x);
  pointer-events: none;
}
.banner h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: #fff;
  text-align: center;
  font-size: 2.6em;
}
.banner .dotBox {
  position: absolute;
}
.banner .dotBox .dot {
  background: #fff;
}
.banner .btnBox {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.banner .btnBox button {
  border: none;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='10' height='29' viewBox='0 0 10 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V27L1 17.4857' stroke='white' stroke-width='2' /%3E%3C/svg%3E%0A") no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
  display: block;
  margin: 20px 0;
  padding: 0 15px;
  transition-duration: 0.6s;
}
.banner .btnBox button.next {
  transform: scaleY(-1);
}
.banner .btnBox button.prev:active {
  transform: translateY(8px);
}
.banner .btnBox button.next:active {
  transform: scaleY(-1) translateY(8px);
}

.indexMore {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 0.7;
  color: #000;
}
.indexMore::before {
  content: '';
  width: 80px;
  height: 1px;
  background: #000;
  display: block;
  margin: 0 10px 0 0;
  transition: all 0.3s ease;
}
.indexMore::after {
  content: '';
  width: 13px;
  height: 9px;
  -webkit-mask: url('../images/icon/icon_ar.svg') left center repeat;
  mask: url('../images/icon/icon_ar.svg') left center repeat;
  background-size: contain;
  background: #ff290b;
  margin-left: 10px;
}
.indexMore:hover {
  color: #ff290b;
}
.indexMore:hover::before {
  width: 0;
}

section {
  padding-top: 70px;
}
section .blockTitle {
  color: #08111f;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 30px;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  section .blockTitle {
    font-size: 2.5rem;
  }
}

.productBox .listBox {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .productBox .listBox {
    flex-wrap: wrap;
    padding: 0 8px;
  }
}
.productBox .listBox .item {
  width: calc((100% - 24px) / 4);
  background: url('../images/index/p_bg.jpg') center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .productBox .listBox .item {
    width: calc((100% - 8px) / 2);
  }
}
@media screen and (max-width: 575px) {
  .productBox .listBox .item {
    width: 100%;
  }
}
.productBox .listBox a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .productBox .listBox a {
    gap: 20px;
  }
}
.productBox .listBox a:hover .pic {
  transform: translate(-5px, -5px);
}
.productBox .listBox .pic {
  margin: 0 auto;
  transition: all 0.3s ease;
}
.productBox .listBox .title {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.technologiesBox {
  background: url('../images/index/technology_bg.png') no-repeat center;
  background-size: cover;
  padding: 4% 0;
}
@media screen and (max-width: 1000px) {
  .technologiesBox {
    padding: 40px 0;
  }
}
.technologiesBox .container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .technologiesBox .container {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.technologiesBox .title {
  color: #beb8ae;
  font-size: 6.875rem;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .technologiesBox .title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .technologiesBox .title {
    font-size: 3.75rem;
    margin-bottom: 30px;
    text-align: center;
  }
}
.technologiesBox .picBox {
  max-width: 396px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .technologiesBox .picBox {
    width: 70%;
    margin: 0 auto;
  }
}
.technologiesBox .picBox .pic {
  transition: all 0.3s ease;
}
.technologiesBox .itemBox {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.technologiesBox .item {
  position: absolute;
  z-index: 2;
}
.technologiesBox .item:nth-child(1) {
  left: 50%;
  transform: translateX(-60%);
}
.technologiesBox .item:nth-child(2) {
  left: 30%;
  top: 23%;
}
.technologiesBox .item:nth-child(3) {
  left: 50%;
  top: 23%;
}
.technologiesBox .item:nth-child(4) {
  left: 77%;
  top: 28%;
}
.technologiesBox .item:nth-child(5) {
  left: 30%;
  top: 38%;
}
.technologiesBox .item:nth-child(6) {
  left: 2%;
  top: 46%;
}
.technologiesBox .item:nth-child(7) {
  left: 11%;
  top: 58%;
}
.technologiesBox .item:nth-child(8) {
  left: 64%;
  top: 75%;
}
.technologiesBox .item button {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #e60012 4px solid;
  position: relative;
  padding: 0;
  margin: 0;
  background: #fff;
  z-index: 1;
  transition: all 0.3s ease;
}
.technologiesBox .item button::before,
.technologiesBox .item button::after {
  content: '';
  position: absolute;
  display: block;
  background: #e60012;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.technologiesBox .item button::before {
  width: 3px;
  height: 12px;
}
.technologiesBox .item button::after {
  height: 3px;
  width: 12px;
}
.technologiesBox .item .info {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 0;
  background: #fff;
  border: 3px solid #e60012;
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .technologiesBox .item .info {
    left: 50%;
    transform: translateX(-50%);
  }
}
.technologiesBox .item .description {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}
.technologiesBox .item .pic {
  width: 330px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .technologiesBox .item .pic {
    width: 200px;
  }
}
.technologiesBox .item.active {
  z-index: 9;
}
.technologiesBox .item.active button {
  transform: rotate(45deg);
  background: #e60012;
}
.technologiesBox .item.active button::before,
.technologiesBox .item.active button::after {
  background: #fff;
}
.technologiesBox .item.active .info {
  display: block;
}
@media screen and (min-width: 1001px) {
  .technologiesBox .item.active.right .info {
    left: 15px;
  }
  .technologiesBox .item.active.left .info {
    right: 15px;
  }
}

.applicationBox {
  background: url('../images/index/application_bg.jpg') no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 5% 0 3%;
}
@media screen and (max-width: 767px) {
  .applicationBox {
    padding: 70px 0;
  }
}
.applicationBox .blockTitle {
  color: #fff;
}
.applicationBox .arrowsBox {
  z-index: 9;
}
.applicationBox .arrowsBox .slick-arrow {
  position: absolute;
  transform: translateX(-200%) translateY(-50%);
  top: 50%;
  width: 59px;
  height: 152px;
  -webkit-mask: url('../images/icon/icon_arrow.svg') center no-repeat;
  mask: url('../images/icon/icon_arrow.svg') center no-repeat;
  background: #fff;
  opacity: 0.6;
  color: transparent;
}
@media screen and (max-width: 767px) {
  .applicationBox .arrowsBox .slick-arrow {
    transform: translateX(-200%) translateY(-50%) scale(0.8);
  }
}
.applicationBox .arrowsBox .slick-arrow:hover {
  opacity: 1;
}
.applicationBox .arrowsBox .slick-prev {
  left: 33.3333333333%;
}
@media screen and (max-width: 767px) {
  .applicationBox .arrowsBox .slick-prev {
    left: calc(33.3333333333% - 20px);
  }
}
.applicationBox .arrowsBox .slick-next {
  left: 66.6666666667%;
  transform: translateX(100%) translateY(-50%) scaleX(-1);
}
@media screen and (max-width: 767px) {
  .applicationBox .arrowsBox .slick-next {
    left: calc(66.6666666667% + 20px);
    transform: translateX(100%) translateY(-50%) scaleX(-1) scale(0.8);
  }
}
.applicationBox .listBox {
  margin: 0 -15px;
}
@media screen and (max-width: 767px) {
  .applicationBox .listBox {
    margin: 0 30px;
  }
}
.applicationBox .slick-list {
  padding: 0 !important;
}
@media screen and (max-width: 767px) {
  .applicationBox .slick-list {
    overflow: visible;
  }
}
.applicationBox .slick-current .pic::before {
  opacity: 0;
}
.applicationBox .slick-current .title {
  display: block;
}
.applicationBox .item {
  padding: 0 15px;
}
/* .applicationBox .item:hover .pic::before {
  opacity: 0;
} */
.applicationBox .pic {
  position: relative;
}
.applicationBox .pic::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background: #696869;
  opacity: 0.75;
  transition: all 0.3s ease;
}
.applicationBox .title {
  padding: 22px 25px;
  color: #fff;
  background: #ff7f00;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  transform: translateY(-35%);
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 5px;
  display: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1440px) {
  .applicationBox .title {
    font-size: 1.125rem;
    padding: 15px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .applicationBox .title {
    font-size: 1rem;
    padding: 15px 15px;
  }
}

.newsBox {
  padding: 4% 0 4%;
  background: linear-gradient(to right, rgb(190, 185, 175) 0%, rgb(255, 255, 255) 50%, rgb(190, 185, 175) 100%);
  background-position: center;
}
@media screen and (max-width: 767px) {
  .newsBox {
    padding: 70px 0;
  }
}
.newsBox .listBox {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .newsBox .listBox {
    flex-direction: column;
    align-items: center;
  }
}
.newsBox .listBox .item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
@media screen and (max-width: 767px) {
  .newsBox .listBox .item {
    width: 100%;
    max-width: 500px;
  }
}
.newsBox .listBox .item a {
  display: block;
  padding: 30px 30px 48px;
  background: #fff;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .newsBox .listBox .item a {
    padding: 20px 20px 30px;
  }
}
.newsBox .listBox .item a:hover .more::before {
  width: 100%;
  left: 0;
}
.newsBox .listBox .pic {
  overflow: hidden;
}
.newsBox .listBox .infoBox {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0 0;
}
@media screen and (max-width: 1200px) {
  .newsBox .listBox .infoBox {
    flex-direction: column;
  }
}
.newsBox .listBox .title {
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1440px) {
  .newsBox .listBox .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .newsBox .listBox .title {
    font-size: 1.25rem;
  }
}
.newsBox .listBox .more {
  flex-shrink: 0;
  padding: 14px 30px 12px;
  border-radius: 5px;
  font-size: 1.125rem;
  color: #fff;
  white-space: nowrap;
  background: #ff7f00;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 1440px) {
  .newsBox .listBox .more {
    font-size: 1rem;
    padding: 7px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .newsBox .listBox .more {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
.newsBox .listBox .more::before {
  content: '';
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #000;
  z-index: -1;
  transition: all 0.3s ease;
}

.aboutBox {
  background: #3d3d3d url('../images/index/about_bg.jpg') no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .aboutBox {
    background: #3d3d3d url('../images/index/index_about2.jpg') no-repeat center;
    background-position: bottom right;
    background-size: contain;
  }
}
.aboutBox .blockTitle {
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  color: #fff;
  line-height: 0.9;
  border-bottom: 4px solid #ff7f00;
  margin: 0;
}
.aboutBox .infoBox {
  min-height: 630px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .aboutBox .infoBox {
    justify-content: flex-start;
    max-width: none;
    width: 100%;
    padding-bottom: 80%;
    min-height: 0;
  }
}
.aboutBox .description {
  color: #fff;
  font-size: 1.3125rem;
}
.aboutBox .more {
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.125rem;
  color: #fff;
  white-space: nowrap;
  background: #ff7f00;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.aboutBox .more::before {
  content: '';
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #000;
  z-index: -1;
  transition: all 0.3s ease;
}
.aboutBox .more:hover::before {
  width: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
} /*# sourceMappingURL=index.css.map */
